p, a, span, h1, h2, h3, h4, h5, h6{
	font-family: 'Cuprum', sans-serif;
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6{
	text-transform:uppercase;
	padding:0;
	margin:0;
}
h1{
	font-size: 65px;
	color: #fff;
}
h2{
	font-size: 49px;
	text-align: center;
}
h3{
	font-size:50px;
	color:#ef7239;
}
h4{
	font-size: 37px;
	text-align: center;
}
h5{
	font-size: 47px;
	text-align: center;
}
h6{
	font-size: 23px;
	color:#ef7239;
}
header{
	background-image: url("../img/bimg.png");
	width: 100%;
	height: 1155px;
	background-position: center;
    background-repeat: no-repeat;
    padding: 0 19px;
    @media screen and (min-width: 1890px){
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
    }
    .headerTop {
    	max-width: 1200px;
    	display: flex;
    	margin: auto;
    	justify-content: space-between;
    	align-items: center;
    	flex-wrap: wrap;
    	.tel{
    		text-transform: uppercase;
    		text-align: center;
    		display: flex;
    		p{
    			font-size: 17px;
    		}
    		span{
    			font-size: 21px;
    		}
    		div{
    			margin-right: 60px;
    			min-width: 142.5px;
    		}
    	}
    	.socLink{
    		padding: 30px 0px;
    	}
    	@media screen and (max-width: 622px){
    		justify-content: center;
    		.tel{
    			div{
    				margin-right: 15px;
    			}
    			div:nth-child(2){
	    			margin-right: 0px;
	    		}
    		}
    		.socLink{
    			padding-bottom: 0px;
    		}
    		
	    }
    }
    // headerTop END
    .menu {
    	width: 100%;
    	text-transform: uppercase;
    	margin-top: 55px;
    	margin-bottom: 30px;
    	ul{
    		padding:0;
    		max-width: 1200px;
    		margin: auto;
    		display: flex;
    		justify-content: flex-end;
    		list-style: none;
    		font-size: 22px;
    		
    		li{
    			a{
    				color: #323e43;
    			}
    			padding-left: 100px;
    			@media screen and (max-width: 735px){
    				padding-left: 50px;
    			}
    			@media screen and (max-width: 590px){
    				padding-left: 20px;
    			}
    		}
    		li:first-child{
    			padding:0;
    		}
    		@media screen and (max-width: 500px){
    			flex-direction: column;
    			align-items:center;
    			li{
    				padding: 5px;
    			}
    		}
    	}
    }
    // menu END
    .headerCenter{
    	margin: auto;
    	max-width: 1200px;
    	display: flex;
    	margin-top: 50px;
    	// justify-content: space-between;
    	.wf{
    		background-image: url(../img/WannaFly.png);
    		background-size: contain;
    		background-repeat: no-repeat;
    		flex-basis: 553px;
    		height: 452px;
    	}
    	// wf EMD
    	.hi{
    		font-size: 46px;
    		text-transform: uppercase;
			background-image: url(../img/hi.png);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-left: -80px;
		    padding-left: 50px;
		    padding-top: 10px;
		    margin-top: -30px;
		    padding-right: 20px;
		    @media screen and (max-width: 1100px){
		    	font-size: 30px;
		    	margin-top: -20px;
		    }
		    @media screen and (max-width: 960px){
		    	font-size: 24px;
		    	margin-left: -50px;
    			padding-left: 30px;
		    }
		    @media screen and (max-width: 766px){
		    	display: none;
		    }
    	}
    	// hi END
    	.form{
    		background-image: url(../img/formimg.png);
    		background-repeat: no-repeat;
    		background-size: contain;
    		max-width: 370px;
    		float: right;
    		margin-left: 5px;
    		max-height: 442px;
    		min-width: 212px;
    		p {
    			text-transform: uppercase;
    			font-size: 33px;
    			color: white;
    			text-align: center;
    		}
    		p:nth-child(2){
    			font-size: 25px;
    			text-transform: lowercase;
    		}
    		input{
    			display: inherit;
    			margin: auto;
	    		width: 75%;
			    margin-top: 15px;
			    padding: 10px 20px;
			    color: #363636;
			    font-family: Cuprum-Regular;
			    font-size: 21px;
			    font-weight: 400;
			    border: 0;
    		}
    		button{
    			width: 70%;
			    font-size: 16px;
			    font-weight: 600;
			    height: 60px;
			    line-height: 30px;
			    text-transform: uppercase;
			    background-color: #8b2d06;
			    color: white;
			    border: none;
			    display: inherit;
			    margin: auto;
			    position: relative;
    			top: 15px;		
    		}
    		@media screen and (max-width: 1145px){ 
				p{
					font-size: 25px;
				}
				p:nth-child(2){
					font-size: 20px;
				}
			}
			@media screen and (max-width: 1100px){ 
				p{
					font-size: 20px;
				}
				p:nth-child(2){
					font-size: 17px;
				}
			}
    		@media screen and (max-width: 960px){
				input{
					padding: 0px 20px;	
				}
				button{
					height: 40px;
				}
    		}
    		@media screen and (max-width: 626px){
    			p{
					font-size: 17px;
					margin-bottom: 3px;
				}
				p:nth-child(2){
					font-size: 15px;
				}
				button{
					height: 30px;
				}
    		}
			@media screen and (max-width: 564px){
				display: none;
			}
    	}
    	// form END
    }
    // headerCenter END
    h2{
    	margin-top: 350px;
    	color: white;
    }
}
// header END
main {
	background-color: #4a545d;
}
.part1{
	background-image: url(../img/part1.png);
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 20px;
	@media screen and (min-width: 1890px){
	    background-size: 100%;
	}
	h2{
		color: #fff;
		position: relative;
    	top: -150px;
    	text-transform: uppercase;
    	span{
    		color: #ff8d2c;
    	}
	}
	// h2 END
	.asd{
		margin-top: auto;
		margin-bottom: auto;
		@media screen and (max-width: 690px){
			flex-direction: row;
			justify-content: center;
			margin-bottom: 40px;
		}
		@media screen and (max-width: 426px){
			justify-content: flex-start;
		}
	}
	div {
		display: flex;
		justify-content: space-between;
		max-width: 1200px;
		span{
			color: white;
		}
		.price {
				flex-direction: column;
				@media screen and (max-width: 690px){
					text-align: center;
				}
			p {
				color: #ff8d2c;
				font-size: 33px;
				span{
					color: white;
					font-weight: 400;
				}
				@media screen and (max-width: 1160px){
					font-size: 25px;
				}
				@media screen and (max-width: 875px){
					font-size: 20px;
				}
				@media screen and (max-width: 426px){
					text-align: start;
					font-size: 33px;
					padding-bottom:20px;
				}
			}

		}
		// prise END
		@media screen and (max-width: 690px){
			flex-direction: column;
		}
	}
	// div END
	.design, .promotion{
		margin: auto;
		margin-bottom: 150px;
	}
	.marketing {
		margin: auto;
		margin-bottom: 250px;
	}
	.design > div > span{
		font-size: 74px;
		margin-top: -23px;	
		@media screen and (max-width: 875px){
			font-size: 50px;
			margin-top: -15px;	
		}
	}
	// design END
	.promotion > div > span{
		font-size: 36px;
		margin-top: -5px;
    	padding-left: 10px;
    	@media screen and (max-width: 760px){
			font-size: 20px;
		}	
	}
	.promotion{
		.asd{
			@media screen and (max-width: 690px){
				order: -1;
			}
		}
	}
	// promotion END
	.marketing > div > span {
		font-size: 36px;
		margin-top: -11px;
    	padding-left: 10px;
    	@media screen and (max-width: 760px){
			font-size: 20px;
			margin-top: -5px;
		}		
	}
	// marketing END
}
// part1 END
.attention{
	text-align:center;
	padding: 70px 20px;
	background-color: #fff;
	h1{
		color:#ef7239;
		@media screen and (max-width: 400px){
			font-size: 60px;
		}
	}
	p{
		font-size: 41px;
		span{
			color:#ef7239;
		}
	}
}
// attention END
.part2{
	.topImg{
	background-image: url(../img/part2.png);
	background-position: top;
	background-repeat: no-repeat;
	height:334px;
	width:100%;
	margin-top:-1px;
	@media screen and (min-width: 1890px){
	    background-size: 100%;
	}
	}
	h2 {
		color: #fff;
		text-transform: uppercase;
		margin-top: -100px;
		padding-bottom:150px;
		@media screen and (max-width: 410px){
			padding-bottom:50px;
		}
	}
	.howWeWork{
		max-width: 1200px;
		display: flex;
		margin: auto;
		justify-content: space-between;
		@media screen and (max-width: 810px){
			flex-wrap: wrap;
		}

		> div {
			display: flex;
			width: 50%;
			justify-content: space-around;
			text-align: center;
			@media screen and (max-width: 810px){
				width: 80%;
				margin: auto;
				padding-bottom: 120px;
			}
			@media screen and (max-width: 480px){
				width: 100%;
			}
			@media screen and (max-width: 410px){
				flex-direction: column;
				padding-bottom:0;
				.arrowtop{
					display: none;
				}
				> div{
					padding-bottom: 20px;
				}
			}
			p{
				font-size: 23px;
				color: #fff;
				font-weight: 400;
			}
			@media screen and (max-width: 1130px){
				p{
					font-size: 17px;
				}
				h6{
					font-size: 17px;
				}
			}
		}
		img{
			position:absolute;
		}
		.arrowtop{
			margin-top: -100px;
		}
		.arrowbtm{
			@media screen and (max-width: 810px){
				display: none;
			}
		}
	}
	// howWeWork
	.btmImg{
		height:334px;
		width:100%;
		background-image: url(../img/part3.png);
		background-position: bottom;
		background-repeat: no-repeat;
		@media screen and (min-width: 1890px){
		    background-size: 100% 100%;
		}
	}
}
// part2 END
.part3{
	background-color: #fff;
	padding-bottom: 100px;
	h4{
		padding: 40px 10px;
	}
	.brands{
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: auto;
		div{
			display: flex;
			align-items: center;
			width: calc(20% - 36px);
		    margin: 18px;
		    @media screen and (max-width: 620px){
		    	width: 45%;
		    	margin: 2.5%;
		    }
			img{
				width: 100%;
			}
		}
	}
}
// part3 END
.part4{
	background-image: url(../img/part4.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 10px;
	@media screen and (min-width: 1890px){
	    background-size: 100% 100%;
	}
	p{
		font-size: 25px;
		color: white;
		text-transform: uppercase;
	}
	h3{
		text-align: center;
		text-transform: none;
		padding-bottom: 123px;
		span{
			font-size: 30px;
			color: white;
			font-weight: 400;
		}
		br{
			@media screen and (min-width: 1040px){
				display: none;
			}
		}
	}
	h5{
		color: white;
		padding: 200px 10px 100px 10px;
		
	}
	.icons{
		display: flex;
		flex-wrap: wrap;
		max-width: 1220px;
		margin: auto;
		> div{
			width: 16%;
			text-align: center;
			padding-bottom: 40px;
			@media screen and (max-width: 1130px){
				width: 33%;
			}
			@media screen and (max-width: 590px){
				width: 49%;
			}
			@media screen and (max-width: 420px){
				width: 100%;
			}
			img{
				height: 90px;
				margin-bottom: 50px;
			}
		}
		
	}
	// icons END
}
// part4 END
.do{
	background-color: white;
	text-align: center;
	h2{
		padding-top: 60px;
		padding-bottom: 70px;
	}
	h3{
		font-size: 41px;
	}
	p{
		font-size: 21px;
		color: #899daf;
	}
	span{
		font-size: 34px;
	}
	> div{
		display: flex;
		justify-content: center;
		@media screen and (max-width: 874px){
			flex-wrap: wrap-reverse;
			div:nth-child(2){
				order: 5;
				width: 100%
			}
		}
		> div{
			padding: 0px 50px;
			@media screen and (max-width: 348px){
				padding: 10px 20px;
			}
		}

	}
	.go{
		display: inline-block;
		width: 300px;
		margin-left: -149px;
		background-color: white;
		position: absolute;
		z-index: 999;
		h3{
			line-height: 2;
		}
	}
}
// do END
footer{
	background-color: white;
	display: flex;
	justify-content: center;
	.footerForm{
		display: flex;
		flex-basis: 1160px;
		flex-wrap: wrap;
		justify-content: center;
		background-image: url(../img/footerform.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		min-height: 220px;
		position: absolute;
		text-align: center;
		margin-top: -60px;
		 @media screen and (min-width: 1890px){
	    	background-size: 100% 100%;
	    }
		span{
			font-size: 32px;
			position: relative;
    		top: 20px;
			text-transform: uppercase;
			width: 100%;
			}
		div{
			display: flex;
			justify-content: space-around;
			width: 90%;
			@media screen and (max-width: 880px){
				flex-wrap: wrap;
				margin-top: 20px;
			}
			input{
			    width: 30%;
			    padding: 10px 20px;
			    color: #363636;
			    font-family: Cuprum;
			    font-size: 21px;
			    font-weight: 400;
			    line-height: 28px;
			    border: 0;
			    height: 49px;
			    margin-bottom: 10px;
			    @media screen and (max-width: 880px){
			    	width: 90%;
			    }
			}
			button{
			    width: 25%;
			    height: 49px;
			    background-color: #8b2d06;
			    color: #fefefd;
			    font-family: Cuprum;
			    font-size: 24px;
			    font-weight: 700;
			    line-height: 49px;
			    text-transform: uppercase;
			    text-align: center;
			    border: 0;
			    @media screen and (max-width: 880px){
			    	width: 90%;
			    	margin-bottom: 10px;
			    }
			}
		}
	}
	.footerbtm{
		background-image: url(../img/footer.png);
		background-repeat: no-repeat;
		background-position:bottom;
		height: 320px;
		width: 100%;
		 @media screen and (min-width: 1890px){
	    	background-size: 100%;
	    }
		p{
			text-align: center;
			font-size: 20px;
			color:#494848;
			position: relative;
			top: 250px;
		}
	}
}
