h1{
	font-size: 60px;
	font-family: 'OROSKO';
	color:#fff;
	margin-bottom: 45px;
	letter-spacing: 3px;
}
p{
	font-family: 'HelveticaNeue';
}
hr{
	height: 0;
	border-bottom: 1px solid #fff;
	margin: 0;
}
.logo{
	position: absolute;
	top: 40px;
	margin-left: -730px;
}
.aarrowDown{
	width: 27px;
	height: 14px;
	position: absolute;
	margin-left: -700px;
	top: 786px;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	height:900px;
	.container{
	padding:0 15px;
	margin:0 15px;
	width: 1170px;
	height:900px;
	display:flex;
	border-right: 1px solid #fff;
		.leftSide{
			height: 800px;
			width: 55px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			div, img{
				width: 55px;
				background: #fff;
			}
			div:first-child{
				height: 350px;
			}
			div:nth-child(3){
				height: 300px;
			}
			hr{
				position: absolute;
				width: 1181px;
				top: 800px;
			}
			span{
				position: absolute;
				font-size: 24px;
				font-family: 'OROSKO';
				color:#fff;
				background: #1b1b19;
			    display: inline-block;
				width: 70px;
		    	text-align: center;
		    	margin-top: 790px;
   	 			margin-left: 110px;
			}
		}
		////leftSide end////
		.center{
			margin-top: 350px;
			margin-left: 75px;
			height: 300px;
			p{
				color: #fff;
				letter-spacing: 4px;
				margin-top: 0;
			}
		}
		////center end////
		.menubtn{
			width: 45px;
			min-height: 120px;
			background:#1b1b19;
			position: absolute;
    		margin-left: 1142px;
    		text-align: -webkit-right;
    		cursor: pointer;
    		hr{
    			transition: 0.15s;
    			border-bottom: 1px solid #fff;
    		}
    		hr:nth-child(1){
    			margin: 55px 0 10px 0;
    		}
    		hr:nth-child(2){
    			margin: 10px 0;
    			margin-left: 8px;
    		}
    		hr:nth-child(3){
    			margin: 10px 0;
    			margin-left: 15px;
    			border-bottom: 2px solid #fff;
    		}
		}
		.menubtn:hover{
			hr:nth-child(1){
				border-bottom: 2px solid #fff;
    		}
    		hr:nth-child(2){
				margin-left: 0;
				border-bottom: 2px solid #fff;
    		}
    		hr:nth-child(3){
    			margin-left: 0;
    		}
		}
	}
	@media screen and (max-width: 1200px){
		.container{
			width: auto;
			.leftSide{
				hr{
					width: 604px;
				}
			}
			.menubtn{
				margin-left: 563px;
			} 
		} 
	}
	@media screen and (max-width: 666px){
		h1{
			font-size: 30px;
		}
		.container{
			border-right:none;
			.menubtn{
				margin-left: 0;
				right: 25px;
			}
			.leftSide{
				hr{
					width: calc(100% - 32px);
				}
			}
			
		}
		
	}
	@media screen and (max-width: 480px){
		height: 400px;
		p{
			text-align: start;
		}
		.container{
			margin: 0;
			.leftSide{
				display: none;
			}
			.center{
				margin-left:0px;
				text-align: center;
				margin-top: 100px;
			}
		}
	}
}
////header end////
.section{
	min-height: 580px;
}
nav{
	transition: all 250ms cubic-bezier(1, 0.12, 0, 1.29);
	font-family: 'OROSKO';
	position: fixed;
	width:100%;
	height:100%;
	background:#191919;
	z-index: 999;
	.close{
		position: absolute;
		top: 45px;
		right: 145px;
		width: 40px;
		height: 40px;
		border: 1px solid #fff;
		border-radius:100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		hr{
			transition: 0.1s;
			width: 15px;
			position:relative;
			margin: 0;
			color: #fff;
		}
		hr:first-child{
			transform: rotate(45deg);
			top: 1px;
		}
		hr:nth-child(2){
			transform: rotate(-45deg);
			top: -1px;

		}
	}
	.close:hover{
		hr:first-child{
			transform: rotate(135deg);

		}
		hr:nth-child(2){
			transform: rotate(45deg);
		}
	}
	////close end////
	ul{
		width:calc(52% + 100px);
		text-align: end;
		margin-top: 230px;
		.square{
			display: inline-block;
			margin-bottom: 6px;
			position: relative;
			opacity: 0;
			transition: 0.2s;
			transition-delay: 0.2s;
		}
		.square:nth-child(1){
			margin-right: 25px;
		}
		.square:nth-child(2){
    		left: 25px;
		}
		li{
			margin-bottom: 45px;
			font-size: 24px;
			height: 50px;
			a{
				line-height: 40px;
				transition: 0.2s;
				transition-delay: 0.1s;
				color: #fff;
				margin-right: 100px;
				hr{
					position:absolute;
					width: calc(52% - 25px);
					margin-top: 10px;
					transition: 0.2s;
					transition-delay: 0.1s;
					border: 1px solid;
				}
			}
			a:hover,{
				margin-right: 0;
				font-size: 30px;
				hr{
					width: calc(52% + 75px);
					border: 2px solid;
				}
				.square{
					opacity: 1;
				}
			}
		}
	}
	////ul end////
	@media screen and (max-width: 740px){
		ul{
			width: 70%;
			margin-top: 50px;
			li{
				margin-bottom: 10px;
				a{
					font-size: 12px;
					margin-right: 0;
					hr{
						width: calc(70% - 25px);
					}
				}
			}
		}
		.close{
			right: 25px;
			top: 55px;
		}
	}
}
////nav end////


	
