h1 {
  font-size: 60px;
  font-family: 'OROSKO';
  color: #fff;
  margin-bottom: 45px;
  letter-spacing: 3px; }

p {
  font-family: 'HelveticaNeue'; }

hr {
  height: 0;
  border-bottom: 1px solid #fff;
  margin: 0; }

.logo {
  position: absolute;
  top: 40px;
  margin-left: -730px; }

.aarrowDown {
  width: 27px;
  height: 14px;
  position: absolute;
  margin-left: -700px;
  top: 786px; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px; }
  header .container {
    padding: 0 15px;
    margin: 0 15px;
    width: 1170px;
    height: 900px;
    display: flex;
    border-right: 1px solid #fff; }
    header .container .leftSide {
      height: 800px;
      width: 55px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      header .container .leftSide div, header .container .leftSide img {
        width: 55px;
        background: #fff; }
      header .container .leftSide div:first-child {
        height: 350px; }
      header .container .leftSide div:nth-child(3) {
        height: 300px; }
      header .container .leftSide hr {
        position: absolute;
        width: 1181px;
        top: 800px; }
      header .container .leftSide span {
        position: absolute;
        font-size: 24px;
        font-family: 'OROSKO';
        color: #fff;
        background: #1b1b19;
        display: inline-block;
        width: 70px;
        text-align: center;
        margin-top: 790px;
        margin-left: 110px; }
    header .container .center {
      margin-top: 350px;
      margin-left: 75px;
      height: 300px; }
      header .container .center p {
        color: #fff;
        letter-spacing: 4px;
        margin-top: 0; }
    header .container .menubtn {
      width: 45px;
      min-height: 120px;
      background: #1b1b19;
      position: absolute;
      margin-left: 1142px;
      text-align: -webkit-right;
      cursor: pointer; }
      header .container .menubtn hr {
        transition: 0.15s;
        border-bottom: 1px solid #fff; }
      header .container .menubtn hr:nth-child(1) {
        margin: 55px 0 10px 0; }
      header .container .menubtn hr:nth-child(2) {
        margin: 10px 0;
        margin-left: 8px; }
      header .container .menubtn hr:nth-child(3) {
        margin: 10px 0;
        margin-left: 15px;
        border-bottom: 2px solid #fff; }
    header .container .menubtn:hover hr:nth-child(1) {
      border-bottom: 2px solid #fff; }
    header .container .menubtn:hover hr:nth-child(2) {
      margin-left: 0;
      border-bottom: 2px solid #fff; }
    header .container .menubtn:hover hr:nth-child(3) {
      margin-left: 0; }
  @media screen and (max-width: 1200px) {
    header .container {
      width: auto; }
      header .container .leftSide hr {
        width: 604px; }
      header .container .menubtn {
        margin-left: 563px; } }
  @media screen and (max-width: 666px) {
    header h1 {
      font-size: 30px; }
    header .container {
      border-right: none; }
      header .container .menubtn {
        margin-left: 0;
        right: 25px; }
      header .container .leftSide hr {
        width: calc(100% - 32px); } }
  @media screen and (max-width: 480px) {
    header {
      height: 400px; }
      header p {
        text-align: start; }
      header .container {
        margin: 0; }
        header .container .leftSide {
          display: none; }
        header .container .center {
          margin-left: 0px;
          text-align: center;
          margin-top: 100px; } }

.section {
  min-height: 580px; }

.menuClose {
  margin-left: 100%; }

/*# sourceMappingURL=header.css.map */
