a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none !important;
  text-decoration: none;
  cursor: pointer; }

button:visited, button:focus, button:active, button:hover {
  outline: 0 none !important;
  cursor: pointer; }

h2 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family: 'OROSKO';
  letter-spacing: 3px; }

ul {
  list-style: none;
  padding: 0; }

body {
  background: #1b1b19;
  margin: 0;
  padding: 0; }

.menuClose {
  margin-left: 100%; }

.square {
  background: #1b1b19;
  width: 7px;
  height: 7px;
  border: 4px solid #fff; }

.aboutUs {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .aboutUs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1170px;
    margin: auto;
    min-height: 455px;
    background: rgba(27, 27, 25, 0.57); }
    .aboutUs .container .borderBlock {
      margin-top: 45px;
      width: 290px;
      height: 80px;
      border: 2px solid #fff; }
      .aboutUs .container .borderBlock h2 {
        margin-top: 28px;
        margin-left: 5px; }
      .aboutUs .container .borderBlock .square {
        position: absolute;
        margin-top: -14px;
        margin-left: 230px; }
    .aboutUs .container > .square {
      position: relative;
      top: 15px; }
    .aboutUs .container p {
      color: #707070;
      font-family: 'HelveticaNeue';
      max-width: 680px; }
    .aboutUs .container a {
      transition: all 250ms ease-in-out;
      color: #fff;
      font-size: 24px;
      font-family: 'Orkney';
      text-decoration: underline;
      width: 210px;
      margin-bottom: 20px;
      height: 45px;
      padding-top: 20px;
      text-align: center;
      border: 2px solid rgba(27, 27, 25, 0); }
      .aboutUs .container a span {
        margin-top: 20px; }
    .aboutUs .container a:hover {
      border: 2px solid white;
      text-decoration: none;
      background: #000; }
    @media screen and (max-width: 425px) {
      .aboutUs .container {
        margin: 0;
        padding: 0 10px; } }
  .aboutUs .numbering {
    width: 100%;
    display: flex; }
    .aboutUs .numbering hr:nth-child(1) {
      min-width: 120px; }
    .aboutUs .numbering hr:nth-child(3) {
      width: 100%; }
    .aboutUs .numbering div {
      font-size: 24px;
      font-family: 'OROSKO';
      color: #fff;
      display: inline-block;
      position: relative;
      width: 70px;
      text-align: center;
      top: -9px; }
  @media screen and (max-width: 1200px) {
    .aboutUs .container {
      width: auto;
      padding: 25px;
      height: auto; } }
  @media screen and (max-width: 760px) {
    .aboutUs .container > .square {
      top: 0; }
    .aboutUs .numbering hr:nth-child(1) {
      min-width: 1px;
      width: 53%; }
    .aboutUs .numbering hr:nth-child(3) {
      width: 53%; } }

.ourServices {
  width: 100%;
  min-height: 1000px; }
  .ourServices .container {
    max-width: 1185px;
    margin: auto;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; }
    .ourServices .container .borderBlock {
      margin: auto;
      margin-top: 50px;
      margin-bottom: 80px;
      width: 400px;
      height: 80px;
      border: 2px solid #fff; }
      .ourServices .container .borderBlock h2 {
        margin-top: 28px;
        margin-left: 5px;
        text-align: center;
        text-transform: none; }
      .ourServices .container .borderBlock .square {
        position: absolute;
        margin-top: -14px;
        margin-left: 330px; }
    .ourServices .container > .square {
      position: relative;
      top: 15px; }
    .ourServices .container .blocks {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 50px; }
      .ourServices .container .blocks li {
        border: 1px solid rgba(255, 255, 255, 0);
        cursor: pointer;
        transition: all 150ms ease-in-out;
        width: 29%;
        display: flex;
        justify-content: center;
        background: #fff;
        color: #060606;
        text-align: center;
        margin: 15px;
        padding-bottom: 50px;
        padding-top: 50px; }
        .ourServices .container .blocks li .centerer {
          max-width: 180px; }
        .ourServices .container .blocks li div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 45px; }
          .ourServices .container .blocks li div hr {
            transition: all 150ms ease-in-out;
            width: 43px;
            height: 0;
            border-bottom: 1px solid #0e0e0d; }
        .ourServices .container .blocks li h4 {
          transition: all 150ms ease-in-out;
          text-decoration: underline;
          font-family: Orkney;
          margin-bottom: 0; }
        .ourServices .container .blocks li p {
          transition: all 150ms ease-in-out;
          margin-top: 5px;
          font-weight: 700;
          font-family: HelveticaNeue; }
      .ourServices .container .blocks li:hover {
        background: #1f1f1f;
        border: 1px solid white; }
        .ourServices .container .blocks li:hover div hr {
          border-bottom: 1px solid #fff; }
        .ourServices .container .blocks li:hover hr {
          color: #fff; }
        .ourServices .container .blocks li:hover h4 {
          color: #fff;
          text-decoration: none; }
        .ourServices .container .blocks li:hover p {
          color: #fff; }
    .ourServices .container span {
      font-size: 24px;
      font-family: 'OROSKO';
      color: #fff;
      display: inline-block;
      position: relative;
      position: relative;
      left: 150px;
      top: 20px;
      background: #1b1b19;
      width: 70px;
      text-align: center; }
  @media screen and (max-width: 760px) {
    .ourServices .container {
      border-right: none; }
      .ourServices .container .blocks {
        justify-content: center; }
        .ourServices .container .blocks li {
          width: 90%; }
      .ourServices .container span {
        left: 0;
        margin-left: calc(50% - 35px); } }
  @media screen and (max-width: 420px) {
    .ourServices .container .borderBlock {
      width: 280px; }
      .ourServices .container .borderBlock h2 {
        font-size: 20px;
        margin-top: 31px; }
      .ourServices .container .borderBlock .square {
        margin-left: 230px;
        margin-top: 2px; } }

.portfolio .container {
  max-width: 1185px;
  margin: auto;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }
  .portfolio .container > span {
    font-size: 24px;
    font-family: 'OROSKO';
    color: #fff;
    display: inline-block;
    position: relative;
    position: relative;
    left: 150px;
    top: 20px;
    background: #1b1b19;
    width: 70px;
    text-align: center; }
.portfolio .borderBlock {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
  height: 80px;
  border: 2px solid #fff; }
  .portfolio .borderBlock h2 {
    margin-top: 28px;
    margin-left: 5px;
    text-align: center;
    text-transform: none; }
  .portfolio .borderBlock .square {
    position: absolute;
    margin-top: -14px;
    margin-left: 330px; }
.portfolio .list {
  text-align: center; }
  .portfolio .list li {
    display: inline-block;
    padding: 0 12px; }
    .portfolio .list li a {
      color: #b3b3b2;
      font-family: Orkney; }
    .portfolio .list li a:hover {
      color: #fff;
      text-decoration: underline; }
.portfolio .images {
  display: flex;
  flex-wrap: wrap; }
  .portfolio .images li {
    width: 233px;
    margin: 13px; }
    .portfolio .images li > div {
      position: absolute;
      width: 183px;
      padding-left: 30px;
      margin-top: -324px;
      height: 300px;
      background: #252525;
      border: 10px solid #4d4d4c;
      opacity: 0;
      transition: all 150ms ease-in-out; }
      .portfolio .images li > div p {
        font-family: Orkney;
        font-size: 16px;
        color: #fff;
        margin-top: 134px; }
      .portfolio .images li > div span {
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #fff; }
      .portfolio .images li > div .loadMore {
        display: flex;
        margin-top: 60px;
        align-items: center;
        justify-content: space-around;
        width: 140px;
        margin-left: 6px; }
        .portfolio .images li > div .loadMore hr {
          width: 15px; }
        .portfolio .images li > div .loadMore button {
          background: none;
          color: #fff;
          border: 1px solid #fff;
          padding: 6px 8px;
          transition: all 150ms ease-in-out;
          font-family: Orkney; }
        .portfolio .images li > div .loadMore button:hover {
          background: #000; }
    .portfolio .images li > div:hover {
      opacity: 1; }

.prices .container {
  max-width: 1185px;
  margin: auto;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 50px; }
  .prices .container .borderBlock {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 450px;
    height: 80px;
    border: 2px solid #fff; }
    .prices .container .borderBlock h2 {
      margin-top: 28px;
      margin-left: 5px;
      text-align: center;
      text-transform: none; }
    .prices .container .borderBlock .square {
      position: absolute;
      margin-top: -14px;
      margin-left: 330px; }
  .prices .container p {
    color: #fff;
    font-family: HelveticaNeue;
    font-size: 16px;
    margin-bottom: 100px;
    text-align: center; }
  .prices .container .pricesBlock {
    display: flex; }
    .prices .container .pricesBlock li {
      height: 520px;
      width: 280px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .prices .container .pricesBlock li > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #1f1f1e;
        background: #f6f6f6;
        height: 468px;
        width: 248px;
        border: 1px solid #f6f6f6;
        transition: all 150ms ease-in-out;
        cursor: pointer; }
        .prices .container .pricesBlock li > div h4 {
          font-size: 18px;
          color: inherit;
          font-family: Orkney;
          text-transform: uppercase;
          margin: 0;
          margin-bottom: 25px; }
        .prices .container .pricesBlock li > div h3 {
          font-size: 66px;
          color: inherit;
          margin: 0; }
        .prices .container .pricesBlock li > div h5 {
          color: inherit;
          font-size: 16px;
          font-family: Orkney;
          margin: 0;
          margin-top: 10px; }
        .prices .container .pricesBlock li > div p {
          color: inherit;
          font-family: HelveticaNeue;
          font-size: 16px;
          margin: 6px 0; }
        .prices .container .pricesBlock li > div hr {
          width: 66px;
          margin: auto;
          margin: 25px 0;
          border-bottom: 1px solid #000;
          transition: all 150ms ease-in-out; }
        .prices .container .pricesBlock li > div a {
          color: inherit;
          font-size: 18px;
          font-family: Orkney;
          text-transform: uppercase;
          text-decoration: underline;
          margin-top: 50px; }
        .prices .container .pricesBlock li > div a:hover {
          text-decoration: none; }
      .prices .container .pricesBlock li div:hover {
        background: #1f1f1f;
        color: #fff;
        height: 518px;
        width: 278px; }
        .prices .container .pricesBlock li div:hover hr {
          border-bottom: 1px solid #fff; }
  .prices .container > span {
    font-size: 24px;
    font-family: 'OROSKO';
    color: #fff;
    display: inline-block;
    position: relative;
    left: 150px;
    top: 70px;
    background: #1b1b19;
    width: 70px;
    text-align: center; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #323232;
  border: 4px solid #363635;
  width: 7px;
  height: 7px;
  margin: -4px 0 0 -4px;
  border-radius: 0px; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #1b1b19;
  border: 4px solid #fff;
  width: 7px;
  height: 7px;
  margin: -4px 0 0 -4px;
  border-radius: 0px; }

#fp-nav ul li, .fp-slidesNav ul li {
  margin: 20px 7px; }

@media screen and (max-width: 760px) {
  #fp-nav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
