a, a:visited, a:focus, a:active, a:hover {
  outline:0 none !important; 
  text-decoration: none;
  cursor: pointer;
}

button:visited, button:focus, button:active, button:hover {
  outline:0 none !important;
  cursor: pointer;
}

h2{
	font-size: 30px;
	text-align: center;
	color:#fff;
	font-family: 'OROSKO';
	letter-spacing: 3px;
}

ul{
	list-style: none;
	padding: 0;
}
body{
	background: #1b1b19;
	margin: 0;
	padding:0;
}

.square{
	background:#1b1b19;
	width: 7px;
	height: 7px;
	border: 4px solid #fff;
}
.aboutUs{
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 1170px;
		margin: auto;
		min-height: 455px;
		background: rgba(27, 27, 25, 0.57);
		.borderBlock{
			margin-top: 45px;
			width: 290px;
			height: 80px;
			border: 2px solid #fff;
			h2{
			    margin-top: 28px;
			    margin-left: 5px;
			}
			.square{
				position: absolute;
				margin-top: -14px;
    			margin-left: 230px;
			}
		}
		> .square{
			position: relative;
    		top: 15px;
		}
		p{
			color:#707070;
			font-family: 'HelveticaNeue';
			max-width: 680px;
		}
		a{
			transition: all 150ms ease-in-out;
			color: #fff;
			font-size: 24px;
			font-family: 'Orkney';
			text-decoration:underline;
			width: 210px;
			margin-bottom: 20px;
			height: 45px;
			padding-top: 20px;
			text-align: center;
			border: 2px solid rgba(27,27,25,0);
			span{
				margin-top: 20px;
			}
		}
		a:hover{
			border: 2px solid rgba(255,255,255,1);
			text-decoration:none;
			background: #000;
		}
		@media screen and (max-width: 425px){
			margin:0;
			padding: 0 10px;
		}
	}
	////borderBlock end////
	.numbering{
		width: 100%;
		display: flex;
		hr:nth-child(1){
			min-width:120px;
		}
		hr:nth-child(3){
			width: 100%;
		}
		div{
			font-size: 24px;
			font-family: 'OROSKO';
			color:#fff;
		    display: inline-block;
		    position: relative;
		    width: 70px;
		    text-align: center;
    		top: -9px;
		}
	}
	@media screen and (max-width: 1200px){
		.container{
			width: auto;
			padding: 25px;
			height: auto;
		}
		
	}
	@media screen and (max-width: 760px){
		.container{
			> .square{
				top: 0;
			}
		}
		.numbering{
			hr:nth-child(1){
				min-width:1px;
				width: 53%
			}
			hr:nth-child(3){
				width: 53%;
			}
		}
	}
}
////aboutUs end////
.ourServices{
	width: 100%;
	min-height: 1000px;
	.container{
		max-width: 1185px;
		margin: auto;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		.borderBlock{
		    margin: auto;
			margin-top: 50px;
			margin-bottom: 80px;
			width: 400px;
			height: 80px;
			border: 2px solid #fff;
			h2{


			    margin-top: 28px;
			    margin-left: 5px;
			    text-align: center;
			    text-transform: none;
			}
			.square{
				position: absolute;
				margin-top: -14px;
    			margin-left: 330px;
			}
		}
		> .square{
			position: relative;
    		top: 15px;
		}
		.blocks{
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 50px;
			li{
				border: 1px solid rgba(255,255,255,0);
				cursor: pointer;
				transition: all 150ms ease-in-out;
				width: 29%;
				display: flex;
				justify-content: center;
				background:#fff;
				color: #060606;
				// flex-basis: 320px;
				text-align: center;
				margin:15px;
				padding-bottom: 50px;
				padding-top: 50px;
				.centerer{
					max-width: 180px;
				}
				 div{
					display: flex;
					justify-content: space-around;
					align-items: center;
					height: 45px;
					hr{
						transition: all 150ms ease-in-out;
						width: 43px;
						height: 0;
						border-bottom: 1px solid #0e0e0d;
					}
				}
				h4{
					transition: all 150ms ease-in-out;
					text-decoration: underline;
					font-family: Orkney;
					margin-bottom: 0;
				}
				p{
					transition: all 150ms ease-in-out;
					margin-top: 5px;
					font-weight: 700;
					font-family: HelveticaNeue;
				}
			}
			li:hover{
				background: #1f1f1f;
				border: 1px solid rgba(255,255,255,1);
				div{
					hr{
						border-bottom: 1px solid #fff;
					}
				}
				hr{
					color: #fff;

				}
				h4{
					color: #fff;
					text-decoration: none;
				}
				p{
					color: #fff;
				}
			}
		}
		span{
			font-size: 24px;
			font-family: 'OROSKO';
			color:#fff;
		    display: inline-block;
		    position: relative;
		    position:relative;
		    left: 150px;
		    top: 20px;
		    background:#1b1b19;
		    width: 70px;
		    text-align: center;
		}
	}
	@media screen and (max-width: 760px){
			.container{
				border-right: none;
				.blocks{
					justify-content: center;
					li{
						width: 90%;
					}
				}
				span{
					left: 0;
					margin-left: calc(50% - 35px);
				} 
			}
	}
	@media screen and (max-width: 420px){
		.container{
			.borderBlock{
				width: 280px;
				h2{
					font-size: 20px;
					margin-top: 31px;
				}
				.square{
					margin-left: 230px;
					margin-top: 2px;
				}
			} 
			
		}
	}
}
.portfolio{
	.container{
		max-width: 1185px;
		margin: auto;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		>span{
			font-size: 24px;
			font-family: 'OROSKO';
			color:#fff;
		    display: inline-block;
		    position: relative;
		    position:relative;
		    left: 150px;
		    top: 20px;
		    background:#1b1b19;
		    width: 70px;
		    text-align: center;
		}
	}
	.borderBlock{
	    margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 400px;
		height: 80px;
		border: 2px solid #fff;
		h2{
		    margin-top: 28px;
		    margin-left: 5px;
		    text-align: center;
		    text-transform: none;
		}
		.square{
			position: absolute;
			margin-top: -14px;
			margin-left: 330px;
		}
	}
	.list{
		text-align: center;
		li{
			display: inline-block;
			padding:0 12px;
			a{
				color: #b3b3b2;
				font-family: Orkney;
			}
			a:hover{
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	.images{
		display: flex;
		flex-wrap: wrap;
		li{
			width: 233px;
			margin: 13px;
			img{
			}
			>div{
				position: absolute;
				width: 183px;
				padding-left:30px;
				margin-top: -324px;
				height: 300px;
				background: #252525;
				border: 10px solid #4d4d4c;
				opacity: 0;
				transition: all 150ms ease-in-out;
				p{
					font-family: Orkney;
					font-size: 16px;
					color: #fff;
					margin-top: 134px;
				}
				span{
					font-family: HelveticaNeue;
					font-size: 16px;
					color: #fff;
				}
				.loadMore{
					display: flex;
					margin-top: 60px;
					align-items: center;
    				justify-content: space-around;
    				width: 140px;
    				margin-left: 6px;
					hr{
						width: 15px;
					}
					button{
					    background: none;
					    color: #fff;
					    border: 1px solid #fff;
					    padding: 6px 8px;
					    font-family: Orkney;
					}
					button:hover{
						background:#000;
					}
				}
			}
			>div:hover{
				opacity: 1;
			}
		}
	}
}
////portfolio end////

.prices{
	.container{
		max-width: 1185px;
		margin: auto;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding-bottom: 50px;
		.borderBlock{
		    margin: auto;
			margin-top: 100px;
			margin-bottom: 50px;
			width: 450px;
			height: 80px;
			border: 2px solid #fff;
			h2{
			    margin-top: 28px;
			    margin-left: 5px;
			    text-align: center;
			    text-transform: none;
			}
			.square{
				position: absolute;
				margin-top: -14px;
				margin-left: 330px;
			}
		}
		////borderBlock END////
		p{
			color: #fff;
			font-family: HelveticaNeue;
			font-size: 16px;
			margin-bottom: 100px;
			text-align: center;
		}
		.pricesBlock{
			display: flex;
			li{
				height: 520px;
				width: 280px;
				display: flex;
			    justify-content: center;
			    align-items: center;
				>div{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					color: #1f1f1e;
					background: #f6f6f6;
					height: 468px;
					width: 248px;
					border: 1px solid #f6f6f6;
					transition: all 150ms ease-in-out;
					cursor: pointer;
					h4{
						font-size: 18px;
						color: inherit;
						font-family: Orkney;
						text-transform: uppercase;
						margin:0;
						margin-bottom: 25px;
					}
					h3{
						font-size: 66px;
						color: inherit;
						margin:0;
					}
					h5{
						color: inherit;
						font-size: 16px;
						font-family: Orkney;
						margin:0;
						margin-top: 10px;
					}
					p{
						color: inherit;
						font-family: HelveticaNeue;
						font-size: 16px;
						margin:6px 0;	
					}
					hr{
						width: 66px;
						margin:auto;
						margin:25px 0;
						border-bottom: 1px solid #000;
						transition: all 150ms ease-in-out;
					}
					a{
						color: inherit;
						font-size: 18px;
						font-family: Orkney;
						text-transform: uppercase;
						text-decoration: underline;
						margin-top: 50px;
					}
					a:hover{
						text-decoration: none;
					}
				}
				////div end////
				div:hover{
					background:#1f1f1f;
					color:#fff;
					height: 518px;
					width: 278px;
					hr{
						border-bottom: 1px solid #fff;
					}
				}
			}
		}
		// pricesBlock END //
		>span{
			font-size: 24px;
			font-family: 'OROSKO';
			color:#fff;
		    display: inline-block;
		    position: relative;
		    left: 150px;
		    top: 70px;
		    background:#1b1b19;
		    width: 70px;
		    text-align: center;
		}
	}
}
//////prices end//////

.contactUs{
	.container{
		max-width: 1185px;
		margin: auto;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		.borderBlock{
		    margin: auto;
			margin-top: 100px;
			margin-bottom: 50px;
			width: 450px;
			height: 80px;
			border: 2px solid #fff;
			h2{
			    margin-top: 28px;
			    margin-left: 5px;
			    text-align: center;
			    text-transform: none;
			}
			.square{
				position: absolute;
				margin-top: -14px;
				margin-left: 330px;
			}
		}
		////borderBlock end////
		p{
			text-align: center;
			color: #c4c6ca;
			font-size: 18px;
			font-family: HelveticaNeue;
		}
		hr{
			max-width: 524px;
			border-color: #4a4b4b;
			margin:auto;
		}
		.cotactsContainer{
			display: flex;
			justify-content: space-around;
			align-items: center;
			.contacts{
				li{
					display: flex;
					margin: 50px 0;
					.text{
						min-width: 190px;
						padding-right: 10px;
						border-right: 2px solid #575757;
						p{
							text-align: right;
							font-size: 16px;
						}
						p:first-child{
							font-family: Orkney;
							margin-top: 0;
						}
						p:nth-child(2){
							margin-bottom: 0;
							font-family: HelveticaNeue;
						}
					}
					.ico{
						display: flex;
						align-items: center;
						padding-left: 15px;
					}
				}
			}
			// contacts end //
			form{
				max-width: 560px;
				div{
					width: 100%;
					margin-top: 20px;
					input{
						width: 99%;
					}
				}
				div:first-child{
					display: flex;
					justify-content: space-between;
					input{
						width: 30%;
					}
				}
				input{
					background:#1b1b19;
					border: none;
					border-bottom: 1px solid #585959;
					color:#bbbcc0;
					font-family: HelveticaNeue;
					font-size: 16px;
					padding-left: 5px;
					padding-bottom:15px;
					outline:none;
				}
				input:hover, input:focus{
					border-bottom: 1px solid #fff;
				}

				button{
					background: none;
				    color: #585959;
				    border: 1px solid #585959;
				    padding: 6px 8px;
				    font-family: Orkney;
				    float: right;
				    margin-top: 25px;
				    font-size: 16px;
				    width: 260px;
				    padding-top: 8px;
				}
				button:hover{
					color:#fff;
					border: 1px solid #fff;
				}
			}
		}
		>span{
			font-size: 24px;
			font-family: 'OROSKO';
			color:#fff;
		    display: inline-block;
		    position: relative;
		    position:relative;
		    left: 150px;
		    top: 20px;
		    background:#1b1b19;
		    width: 70px;
		    text-align: center;
		}
	}
}
nav{
	transition: all 250ms cubic-bezier(1, 0.12, 0, 1.29);
	font-family: 'OROSKO';
	position: fixed;
	width:100%;
	height:100%;
	background:#191919;
	z-index: 999;
	top: 0;
	.close{
		position: absolute;
		top: 45px;
		right: 145px;
		width: 40px;
		height: 40px;
		border: 1px solid #fff;
		border-radius:100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		hr{
			transition: 0.1s;
			width: 15px;
			position:relative;
			margin: 0;
			color: #fff;
		}
		hr:first-child{
			transform: rotate(45deg);
			top: 1px;
		}
		hr:nth-child(2){
			transform: rotate(-45deg);
			top: -1px;

		}
	}
	.close:hover{
		hr:first-child{
			transform: rotate(135deg);

		}
		hr:nth-child(2){
			transform: rotate(45deg);
		}
	}
	////close end////
	ul{
		width:calc(52% + 100px);
		text-align: end;
		margin-top: 230px;
		.square{
			display: inline-block;
			margin-bottom: 6px;
			position: relative;
			opacity: 0;
			transition: 0.2s;
			transition-delay: 0.2s;
		}
		.square:nth-child(1){
			margin-right: 25px;
		}
		.square:nth-child(2){
    		left: 25px;
		}
		li{
			margin-bottom: 45px;
			font-size: 24px;
			height: 50px;
			a{
				line-height: 40px;
				transition: 0.2s;
				transition-delay: 0.1s;
				color: #fff;
				margin-right: 100px;
				hr{
					position:absolute;
					width: calc(52% - 25px);
					margin-top: 10px;
					transition: 0.2s;
					transition-delay: 0.1s;
					border: 1px solid;
				}
			}
			a:hover,{
				margin-right: 0;
				font-size: 30px;
				hr{
					width: calc(52% + 75px);
					border: 2px solid;
				}
				.square{
					opacity: 1;
				}
			}
		}
	}
	////ul end////
	@media screen and (max-width: 740px){
		ul{
			width: 70%;
			margin-top: 50px;
			li{
				margin-bottom: 10px;
				a{
					font-size: 12px;
					margin-right: 0;
					hr{
						width: calc(70% - 25px);
					}
				}
			}
		}
		.close{
			right: 25px;
			top: 55px;
		}
	}
}
////nav end////
.menuClose{
	margin-left: 100%;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: #323232;
	border: 4px solid #363635;	
    width: 7px;
    height: 7px;
    margin: -4px 0 0 -4px;
    border-radius: 0px;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	background: #1b1b19;
	border: 4px solid #fff;	
   	width: 7px;
    height: 7px;
    margin: -4px 0 0 -4px;
    border-radius: 0px;
}
#fp-nav ul li, .fp-slidesNav ul li{
	margin: 20px 7px;
}
@media screen and (max-width: 760px){
	#fp-nav{
		display: none;
	}
}
