a, a:visited, a:focus, a:active, a:hover {
  outline:0 none !important; 
  text-decoration: none;
  cursor: pointer;
}

button:visited, button:focus, button:active, button:hover {
  outline:0 none !important;
  cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}
.logo{
	font-size: 30px;
	font-family:Montserrat-bold;
	position:absolute;
	color:white;
	cursor:default;
	padding-left: 10px;
	@media screen and (max-width: 600px){
		margin-top: 10px;
	}
}

header{
	display: flex;
	width:100%;
	background: linear-gradient(to top, #fce38a, #f48b82);
	.bird {
		position:absolute;
		opacity: 1;
		display: inline-block;
		background-image: url(../img/bird.png);
		background-position: center;
    	background-repeat: no-repeat;
		width: 100%;
		height: 990px;
		opacity: 0.1;
		@media screen and (max-width: 880px){
			height: 856px;
		}
		@media screen and (max-width: 600px){
			display: none;
		}

	}
	.header {
		width: 1200px;
		margin: auto;
		font-family: Montserrat-Regular;

		/////////MENU TRIGGER////////

		.menu-trigger{
			display: none;
			position: absolute;
			width: 70px;
			right: 0;
			margin-right: 20px;
			transition: 0.5s;
			z-index: 100;
			@media screen and (max-width: 600px){
				display: block;
			}
		}
		hr {
			border-top: 7px solid rgba(255,255,255,0.9);
			border-radius: 2px;
			margin: 10px;
			transition: 0.2s;
		}
		.menu-trigger:hover{
			hr{
				border-top: 7px solid #fce38a;
			}
		}

		.trigger{
			@media screen and (max-width: 600px){
				display: none;
			}
		}

		/////////MENU TRIGGER END///////////

		.nav{
			display: flex;
			justify-content: flex-end;
			text-transform:uppercase;
			margin-top: 8.3px;
			transition: 0.1s;

			@media screen and (max-width: 600px){ 
				flex-direction: column;
				align-items: center;
				padding-top: 90px;
			}
			li {
				font-size: 14px;
				transition: 0.1s;
				a {
					color:white;
					//border-bottom: 3px solid rgba(255,255,255,0);
					padding: 0;
					margin: 0 20px;
					line-height: 2.5;
					transition: 0.1s;
					hr{
					width: 0%;
    				border-top: 3px solid #fce38a;
    				border-radius:0px;
    				margin: auto;
					}
				}

				:hover{
					hr{
						width: 100%;
					}

					//border-bottom: 3px solid #fce38a;
					color: #fce38a;
					background-color:rgba(255,255,255,0);
				}
				:focus {
					background-color:rgba(255,255,255,0);
				}

			}
		}

		/////////////NAV 2//////////////////

		.nav2{
			display: flex;
			font-size: 14px;
			padding-left: 0;
			padding-left: 30px;
			margin-top: 155px;

			@media screen and (max-width: 510px){
				flex-wrap: wrap;
    			justify-content: center;
    			margin-top: 50px;
			}

			li {
				display: flex;
				align-items: center;
				flex-basis:280px;
				height: 70px;
				border-top:3px solid rgba(255,255,255,0.6);
				margin-right: 30px;
				transition: 0.2s;
				hr{
					position: absolute;
				    width: 0px;
				    margin-top: -23px;
				    margin-left: 0;
				    transition: 0.5s;
				    border-top:3px solid #f38181;
				    transition: 0.5s;
				}
				@-moz-document url-prefix()
{
	body { background: grey; color: white }
}
				a{
					color:rgba(255,255,255,0.7);
					transition: 0.2s;

				}
				a:hover {
					color:rgba(255,255,255,1);
					hr{
						width: 70px;
					}
				}

				span{
				padding-right: 5px;
				font-size: 20px;
				font-family: Montserrat-bold;
				}

			}

			li:hover {
				border-top:3px solid rgba(255,255,255,1);
				a {

				}
			}
		}

		/////////NAV 2 END////////

		.button {
			transition: 0.1s;
			a{
				transition: 0.1s;
				color: white;
				font-family: Montserrat-bold;
				font-size: 14px;
			}
			border: 3px solid white;
			text-align: center;
			margin:auto;
			cursor: pointer;
			width: 160px;
			height: 40px;
			line-height: 2.5;
			margin-top: 70px;
			
		}
		.button:hover {
			a{
				color: #fce38a;
			}
			
			border: 3px solid #fce38a;
		}
	}
	////////.HEADER END/////////
}
/////////END HEADER/////////

.story{
	p {
		padding-left:10px;
		padding-right:10px;
	}
}

///END STORY///
.moveimg{
		margin-bottom: 110px;
		display: flex;
		max-width: 1245px;
		justify-content: center;
		flex-wrap: wrap;
		cursor: default;
		p{
			font-family: Montserrat-bold;
			color: #fff;
			font-size: 18px;
			margin-top: -155px;
    		margin-left: 140px;
    		opacity: 0;
    		z-index: 3;

		}
		> div {
			background-color:#95e1d3;
			height: 250px;
			margin: 15px;
			max-width: 380px;
			> div {
				margin-top: -250px;
				img{
					opacity: 0.9;
				}
			}
		}
		img{
			transition: 0.3s;
		}
		.mask{
			margin-top: -271px;
    		opacity: 0;
    		height: 251px;
    		width: 380px;
		}
		:hover img:first-child{
			margin-top: -15px;
	    	margin-left: 15px;
		}
		:hover .mask {
			margin-left: 15px;
			opacity: 0.9;
		}
		:hover p{
			opacity: 0.99;
		}
		@media screen and (max-width: 430px){
			display: none;
		}
}
.moveimg2{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	transition: 0.3s;
	div{
		width: 300px;
	}
	img{
		width: 300px;
		transition: 0.3s;
	}
	img:nth-child(2){
		margin-top: -219px;
    	opacity: 0;
    	height: 199px;
	}
	p{
		font-family: Montserrat-bold;
		color: #fff;
		font-size: 18px;
		opacity: 0;
		position: relative;
		top: -130px;
    	left: 85px;
    	cursor: pointer;
    	transition: 0.3s;
    	width: 150px;
	}
	:hover  img:nth-child(2){
		opacity: 0.9;
	}
	:hover p{
		opacity: 0.99;
	}
	@media screen and (min-width: 430px){
			display: none;
		}
}
////END MOVEIMG////

.numbers{
		display: flex;
		justify-content: center;
		width: 100%;
		height: 270px;
		background-color:#95e1d3;
		text-align:center;
		text-transform: uppercase;
		div:first-child{
			border-left: 1px solid rgba(255,255,255,0.3);
		}
		div{
			width: 240px;
			color: #fff;
			border-right: 1px solid rgba(255,255,255,0.3);
			display: flex;
    		flex-direction: column;
			span{
				margin-top: 60px;
				font-size: 72px;
				font-family: Montserrat-bold;
				color: #fff;
			}
			p{
				font-family: Montserrat-Regular;
				font-size: 14px;
			}
		}
		@media screen and (max-width: 730px){
			flex-wrap: wrap;
			height: 100%;
			div:first-child{
				border:none;
				border-bottom: 1px solid rgba(255,255,255,0.3);
			}
			div{
				padding-top:10px;
				padding-bottom: 10px;
				border:none;
				border-bottom: 1px solid rgba(255,255,255,0.3);
				span{
					margin-top: 0px;

				}
			}
		}
}

///NUMBERS END//////
.services{
	display:flex;
	max-width:1200px;
	margin:auto;
	flex-wrap:wrap;
	justify-content:center;
	div{
		flex-basis: 400px;
		min-width: 200px;
		height: 170px;
		border-bottom:1px solid #e5e5e5;
		padding-top: 50px;
		padding-right:30px;
		hr{
			position:relative;
			bottom:0;
		}
		img{
			float: left;
			padding: 20px;
    		padding-top: 5px;
		}
		p {
			text-transform: uppercase;
			font-family: Montserrat-Regular;
			font-size: 14px;
			margin-bottom: 3px;
		}
		span{
			font-family: Roboto;
			font-size: 11px;
			color: #999999;
		}
	}
}
///SERVICES END/////

.adaptive{
	 margin-bottom: 100px;
	 margin-top:-2px;
	 width:100%;
	 height:850px;
	 background-image: url("../img/fon1.png");
	 z-index:2;
	 background-position: center;
     background-repeat: no-repeat;
	 @media screen and (max-width: 590px){ 
	 		display: none;
		}
	 > div {
	 	width: 100%;
	 	height: 630px;
	 	text-align: center;
	 	p{
	 		margin-top: -24px;
	 	}
	 	p:nth-child(2){
	 		margin-top: -390px;
    		margin-left: 480px;
    		@media screen and (max-width: 775px){ 
				margin-left: 290px;
			}
	 	}
	}
}
/////ADAPTIVE END////

.quote{
	background-color:#f8f8f8;
	width:100%;
	margin-top: -2px;
    z-index: 2;
    padding-bottom:20px;
	> div{
		max-width:1200px;
		margin:auto;
		display: flex;
		@media screen and (max-width: 775px){ 
				flex-wrap: wrap;
				justify-content: center;
		}
		img{
			padding:50px;
			@media screen and (max-width: 775px){ 
				padding:20px;
			}
		}
		p{
			font-family: Roboto-LightItalic;
			font-size: 24px;
			color: #999999;
			padding: 50px 10px 0 0;
			@media screen and (max-width: 775px){ 
				padding:20px 20px 0px 20px;
			}
		}
		
		span{
			font-family: KaushanScript-Regular;
			color: #333333;
			font-size: 24px;
			@media screen and (max-width: 775px){ 
				padding-left:20px;
			}
			hr{
			margin: 0;
			display: inline-block;
			margin: 0 5px 5px;
			}
		}
	}
}
////QUOTE END/////

.WhoWeAre {
	.moveimg{
		> div {
			height: 470px;
			margin: 15px;
			> div {
				margin-top: -250px;
				img{
					opacity: 0.9;
				}
			}
			.mask{
				transition: 0.3s;
	    		height: 470px;
	    		margin-top: -469px;
	    		background-image: url("../img/mask2.png");
	    		div{
	    			position: relative;
	    			top: 200px;
	    			left: 80px;
	    			width: 260px;
	    			
	    		}
			}
			.mask:hover{
				opacity: 0.96;
			}
		}
	}
	.moveimg2{
		img:nth-child(2){
			margin-top: -393px;
			height: 372px;
		}
		.socialGroup{
			position: relative;
		    display: inline;
		    top: -250px;
		    left: 35px;
		    opacity: 0;
		    transition: 0.3s;
		}
		:hover .socialGroup{
			opacity: 0.99;
		}

	}
}
//////////WHOWEARE END/////////
.imgs{
	width:100%;
	background-color:#f8f8f8;
}
.hipster{
	max-width:1200px;
	margin:auto;
	div{
		height: 127px;
		text-align: center;
		padding: 0px 55px;
		margin-top: 30px;
		@media screen and (max-width: 400px){ 
			padding: 0px 10px;			
		}
	}
}
//////HIPSTER END////////
.WhatWeDo {
	padding-bottom:50px;
	.works {	
		max-width: 1450px;
		img{
			padding:0;
			cursor: pointer;
		}
	}
}
///////WHATWEDO END//////
.happy{
	background-image: url("../img/clients/fon.png");
	background-position: center;
    background-repeat: no-repeat;
	width:100%;
	height: 830px;
	margin-top: 50px;
	.clients{
		display: flex;
		justify-content: center;
		div{
			div{
				max-width: 600px;
				padding-right: 10px;
				p {
					margin-top: 40px;
					font-family: Montserrat-Regular;
					font-size: 14px;
					span{
						font-size: 15px;
						font-family: Roboto-LightItalic;
						color: #b0b0b0;
						line-height: 3;

					}
				}
				span{
					font-family: Roboto;
					font-size: 15px;
					color: #b0b0b0;

				}
				hr{
					padding:0;
					margin: 0px 0px 15px 0px;
				}
				img{
					float: left;
					padding: 40px 30px 40px 40px;
				}
			}
		}
	}
	@media screen and (max-width: 840px){ 
		background-image: none;
		background-color: #f8f8f8;
		height: auto;
		.clients{
			flex-wrap: wrap;
		}
	}
	@media screen and (max-width: 460px){ 
		height: auto;
		padding-bottom: 50px;
		.clients{
			div{
				div{
					text-align: center;
					p{
						margin-top: 0px;
					}
					img{
						float: none;
						padding: 30px;
					}
					hr{
						margin: auto;
						padding: 10px;
					}
					> span{
						display: inline-block;
    					padding-left: 10px;
					}
				}
			}
		}
	}	
}
//////HAPPY END/////////
.blog{
	padding-bottom: 100px;
	> div{
		max-width: 1440px;
		> div {
			max-width: 400px;
			margin-bottom: 20px;
			> img{
				padding-bottom: 10px;
			}
			p{
				font-family: Montserrat-Regular;
				font-size: 14px;
				padding-left: 20px;
				text-transform: uppercase;
			}
			hr{
				margin-left: 15px;
				margin-bottom: 10px;
			}
			> span{
				font-family: Roboto;
				font-size: 15px;
				padding-left: 20px;
    			display: inline-block;
    			color: #b3b3b3;
			}
			div{
				display: inline;
				padding:5px;
				margin-left: 12px;
				img{
					margin-top: -5px;
					cursor: pointer;
				}
				span{
					font-family: Roboto-LightItalic;
					color: #b3b3b3;
					
				}
			}
		}
		@media screen and (max-width: 767px){ 
			> div {
				max-width: 1000px;
			}
		}	
	}
}
///////BLOG END//////
.map {
	cursor: pointer;
	margin-bottom: 50px;
	height:200px;
	width:100%;
	background-image: url("../img/Layer 59.png");
	background-position: center;
    background-repeat: no-repeat;
	text-align: center;
	img{
		margin-top: 50px;
	}
	p{
		font-size: 24px;
		color: #f38181;
		font-family: Montserrat-bold;
		padding:0;
		margin-top: 10px;
		margin-bottom: 0;
	}
	hr {
		position: relative;
    	top: -20px;
	}

}
footer{
	width:100%;
	.footer{
		max-width: 1200px;
		margin: auto;
	}
	h4{
		text-align:center;
		padding-bottom: 15px;
		font-family: KaushanScript-Regular;
		font-size: 14px;
		color: #999999;
	}
	.footer > div {
		margin-top: 20px;
	}

	///////////FOLLOW////////////////

	.follow {
		h3{
			margin-top: 0;
		}
		p {
			font-size: 15px;
			font-family: Roboto;
			color: #999999;
		}
		div {
			font-size: 14px;
			font-family: Montserrat-bold;
			span {
				font-size: 20px;
			}
		}
		.social {
			span{
				font-family: Roboto;
				font-size: 14px;
				color:#999999;
				padding-right:10px;
			}
			a{
				padding: 3.5px;
			}
		}

		
		input{
			margin-top: 30px;
			margin-bottom: 10px;
		}

		button{
				background: #95e1d3;
				border: 2px solid #95e1d3;
				color: white;
				font-family: Montserrat-bold;
				font-size: 14px;
			}
		
	}

	////////////END FOLLOW////////////

	/////////////BLOGS////////////////

	.blogs{
		p{
			color: #646464;
			font-family: Montserrat-Regular;
			text-transform: uppercase;
			padding:5px;
		}
		div{
			display: flex;
			div{
				padding:5px;
				font-size: 12px;
				span{
					font-family: Roboto;
					margin-top: 7px;
					color: #999999;
					margin-left: 4px;
				}

			}
		}
	}

	//////////////BLOGS END////////////

	//////////////INST/////////////////

	.inst{
		width: 302px;
		p {
			color: #646464;
			font-family: Montserrat-Regular;
			text-transform: uppercase;
			padding:5px;
		}
		a{
			font-family: Roboto;
			color: #999999;
		}
	}

	//////////////INST END///////////
	h4{
		margin-top: 0px;
	}
}
////////FOOTER END////////////
h1{
	font-size:150px;
	padding-top:40px;
	margin: 0;
	font-family:Montserrat-bold;
	color:white;
	text-transform:uppercase;
	text-align:center;
	cursor:default;
	@media screen and (max-width: 880px){ 
		font-size: 100px;
	}
	@media screen and (max-width: 600px){ 
		font-size: 75px;
	}
	@media screen and (max-width: 510px){ 
		font-size: 50px;
		padding-top: 10px;
	}

}
h2{
	font-size:72px;
	padding-top:150px;
	margin: 0;
	font-family:KaushanScript-Regular;
	color:white;
	text-align:center;
	cursor:default;
	@media screen and (max-width: 880px){ 
		font-size: 50px;
	}
	@media screen and (max-width: 600px){ 
		font-size: 40px;
		padding-top: 100px;
	}
	@media screen and (max-width: 510px){ 
		font-size: 25px;
	}
}
h3{
	color: #cccccc;
	font-size:46px;
	font-family:Montserrat-bold;
}
h4{
	font-size:30px;
	font-family:Montserrat-bold;
	color:#333333;
	text-align:center;
	margin-top: 90px;
	span{
		font-size: 24px;
		font-family: KaushanScript-Regular;
		line-height: 2;
	}
}
.hrmain{
	border-top:3px solid #f38181;
	width:60px;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
}
.standartText{
	font-size: 15px;
	font-family: Roboto;
	color: #999999;
	text-align:center;
	max-width:960px;
	margin: auto;
	padding: 0px 10px 100px;
}
ul{
	list-style-type:none;
}
@-moz-document url-prefix() 
{ 
	header .header .nav2 li hr {
		margin-top: -22px;
	}
}