$mainColor: #b8152d;
$txtColor: #333333;
$secondColor: #c8102e;

@font-face{
  font-family:TradeGothic;
  src: url(TradeGothicLT.ttf);
}
@font-face{
  font-family:TradeGothicBold;
  src: url(TradeGothicLTBold.ttf);
}
@font-face{
  font-family:FranklinGothicBold;
  src: url(FranklinGothicBold.ttf);
}
h3{
	color:#fff;
	text-transform: uppercase;
}

body{
	text-align: center;
	margin: 0px;
	background: #000;
}
button{
	width: 55px;
    height: 35px;
    background: none;
    //border-radius: 4px;
    border-width: 0px;
    border-color: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'TradeGothicBold';
    //font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(255,255,255,0.6);
    text-transform: uppercase;
}

header{
	height: 86px;
	background: $mainColor;
	.logo{
		p{
			margin: 0;
			font-family: 'TradeGothicBold';
			color: white;
			font-size: 16px;
		    margin-top: -9px;
		    margin-left: -5px;
		}
		img{
			width: 170px;
		}
	}
}
.singUp{
	font-family: 'TradeGothicBold';
	text-transform: uppercase;
	display: flex;
	max-width: 1200px;
	margin: auto;
	justify-content: space-between;
	padding: 10px 10px;
	flex-wrap: wrap;
	@media screen and (max-width: 520px){
		justify-content: center;
		span{
			margin-top: 5px;
		}
	}
	span{
		color: $mainColor;
	}
	span:nth-child(1){
		margin-top: 6px;
    	font-size: 18px;
	}
	span:nth-child(2){
		color: white;
		border: 2px solid $mainColor;
		padding: 8px 60px;
		cursor: pointer;
	}
	span:nth-child(2):hover{
		background: #fff;
		color: $mainColor;
	}
}

.bimg{
	width:100%;
	height: 499px;
	background-image: url(img/signup-header-desktop.jpg);
	background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    //margin: 50px 0;
}

.main{
	max-height: 375px;
	font-family: 'TradeGothicBold';
	position: relative;
    top: 15px;
	//font-family: 'Roboto', sans-serif;
	padding: 50px;
	color: #616161;
	max-width: 600px;
	margin: auto;
	background: $secondColor;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
	border-radius: 5px;
    > div {
    	text-align: center;
    }
    @media screen and(max-width: 425px){
    	padding: 20px 0;
    }
}

.brend{
	width: 150px;
}

.modal {
	text-align: center;
}

.first{
	.yesno{
		margin-top: 50px;
		button{
			margin: 0 35px;
		}
	}
}

.second{
	h3{
		margin-top: 0;
	}
	text-align:center;
	ul{
		list-style: none;
		padding: 0;
		width: 320px;
		margin: auto;
		margin-top: 50px;
		.open{
			background-image: url(nop.png);
			background-size:contain;
		}
		.prize{
			background-image: url(prize.png);
			background-size:contain;
		}
		li{
			margin: 3px;
			width: 96px;
			height: 96px;
			background-image: url(Bud-Logo.png);
			background-size:contain;
			display: inline-block;
			box-shadow: 0px 0px 3px 1px #fff;
			background-position: center;
    		background-repeat: no-repeat;
		}
	}
}

.final, .takePrize{
	> div{
		width: 370px;
		height: 220px;
		margin: 50px auto;
		background: #fff;
		border-radius: 5px;
		@media screen and(max-width: 425px){
	    	width: 300px;
	    	height: 180px;
	    	background-size:contain;
	    }	
	}
	
	
}
.takePrize{
	> div {
		background-image: url(img/i7.png);
	}
	
}

footer{
	width:100%;
	margin-top: 50px;
	background: $secondColor;
	min-height: 115px;
	color: white;
	font-family: 'TradeGothicBold';
	margin-top: 160px;
	.footer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1200px;
    	margin: auto;
		.left{
			margin-top: 20px;
			margin-left: 10px;
			img{
				width: 101px;
				float: left;
				margin-top: -7px;
			}
			h2{
				text-align: start;
    			padding-left: 105px;
    			font-size: 20px;
			}
			p{
				font-family: 'TradeGothic';
				font-size: 10px;
			}
		}
		.right{
			@media screen and (max-width: 710px){
				text-align: start;
				margin-left: 10px;
			}
			text-align: end;
			margin-top: 40px;
			margin-right: 10px;
			p{
				font-family: 'TradeGothic';
				font-size: 10px;
				span{
					padding-left:10px;
					text-transform: uppercase;
					cursor: pointer;
					@media screen and (max-width: 710px){
						padding-left:0;
						padding-right: 10px;
					}
				}
			}
		}
	}
}